.Wk0116-container {
    border: 2px solid red;
}

.Wk0116-title {
    font-size: 1.5rem;
    font-weight: 600;
}



.Wk0116-workout-container {
    
}

.Wk0116-workout-day {
    font-size: 1.3rem;
    font-weight: 600;
}