.Browse-container {
    // border: 2px solid red;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Browse-menu-container {
    border: 2px solid white;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.87);
    height: 100px;
    padding: 20px;
    box-sizing: border-box;
    --x: 6; /* number of columns */
    --gap: 10px; /* control the gap */
    width: calc(var(--x) * 340px + (var(--gap)) * (var(--x) - 1));
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    margin-bottom: 20px;
}

.Browse-menu-subcontainer {
    justify-items: center;
    --s: 1;
    --n: 100; /* number of rows*/
    --m: 8; /* number of columns */
    --g: 10px; /* control the gap */
    --f: 1.5; /* control the scale factor */
    display: grid;
    max-width: calc(var(--m) * 340px + (var(--g)) * (var(--m) - 1));
    gap: var(--g);
    // width: calc(var(--m) * var(--s) + (var(--m) - 1) * var(--g));
    height: calc(var(--n) * var(--s) + (var(--n) - 1) * var(--g));
    grid-template-columns: repeat(var(--m), auto);  
}

.Browse-menu-item-container {
    background: #242424;
    box-sizing: border-box;
    border-radius: 7px;
    height: 50px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Browse-menu-item-title {
    font-weight: 600;
    font-size: 1.2rem;
}

.Browse-workout-container {
    // border: 2px solid rgba(255, 255, 255, 0.464);
    box-sizing: border-box;
    --x: 6; /* number of columns */
    --gap: 10px; /* control the gap */
    width: calc(var(--x) * 340px + (var(--gap)) * (var(--x) - 1));
}

.Browse-workout-subcontainer {
    justify-items: center;
    --s: 1;
    --n: 100; /* number of rows*/
    --m: 6; /* number of columns */
    --g: 10px; /* control the gap */
    --f: 1.5; /* control the scale factor */
    display: grid;
    max-width: calc(var(--m) * 340px + (var(--g)) * (var(--m) - 1));
    gap: var(--g);
    // width: calc(var(--m) * var(--s) + (var(--m) - 1) * var(--g));
    height: calc(var(--n) * var(--s) + (var(--n) - 1) * var(--g));
    grid-template-columns: repeat(var(--m), auto);  
}

@media screen and (max-width: 2150px) {
    .Browse-menu-container {
        --x: 5; /* number of columns */
    }
    .Browse-workout-container {
        --x: 5; /* number of columns */
    }
    .Browse-workout-subcontainer {
        --m: 5; /* number of columns */
    }
}

@media screen and (max-width: 1800px) {
    .Browse-menu-container {
        --x: 4; /* number of columns */
    }
    .Browse-workout-container {
        --x: 4; /* number of columns */
    }
    .Browse-workout-subcontainer {
        --m: 4; /* number of columns */
    }
}

@media screen and (max-width: 1450px) {
    .Browse-menu-container {
        justify-content: left;
        --x: 3; /* number of columns */
    }
    .Browse-workout-container {
        --x: 3; /* number of columns */
    }
    .Browse-workout-subcontainer {
        --m: 3; /* number of columns */
    }
}

@media screen and (max-width: 1100px) {
    .Browse-menu-container {
        justify-content: left;
        --x: 2; /* number of columns */
    }
    .Browse-workout-container {
        --x: 2; /* number of columns */
    }
    .Browse-workout-subcontainer {
        --m: 2; /* number of columns */
    }
}

@media screen and (max-width: 720px) {
    .Browse-menu-container {
        justify-content: left;
        --x: 1; /* number of columns */
    }
    .Browse-workout-container {
        --x: 1; /* number of columns */
    }
    .Browse-workout-subcontainer {
        --m: 1; /* number of columns */
    }
}



