.WorkoutItem-container {
    width: 100%;
}

.WorkoutItem-title-container {
    border: 5px solid  rgba(200, 200, 200, 0.47);
    height: 56px;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgba(255, 255, 255, 0.87);
    color: #242424;
}

.WorkoutItem-title {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.WorkoutItem-note-container {
    // border: 1px solid red;
    display: flex;
    justify-content: left;
    height: 40px;
}

.WorkoutItem-note-title {
    font-weight: bold;
    width: 50px;
    font-size: 0.8rem;
}

.WorkoutItem-note-content {
    padding-left: 5px;
    justify-content: left;
    text-align: left;
    font-size: 0.8rem;
}

.WorkoutItem-sets-reps-container {
    display: flex;
}

.WorkoutItem-sets-container {
    // border: 1px solid red;
    display: flex;
    justify-content: left;
    height: 25px;
    width: 90px;
}

.WorkoutItem-sets-title {
    font-weight: bold;
    width: 50px;
}

.WorkoutItem-sets-content {
    padding-left: 5px;
    justify-content: left;
    text-align: left;
}

.WorkoutItem-reps-container {
    // border: 1px solid red;
    display: flex;
    justify-content: left;
    height: 25px;
}

.WorkoutItem-reps-title {
    font-weight: bold;
    width: 50px;
}

.WorkoutItem-reps-content {
    padding-left: 5px;
    justify-content: left;
    text-align: left;
}

.WorkoutItem-menu-container {
    // border: 2px solid red;
    margin: 5px 0 5px 0,
}

.WorkoutItem-menu-container {
    display: flex;
    justify-content: space-between;
}

.WorkoutItem-menu-button {
    border-radius: 7px;
    width: 97px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.WorkoutItem-menu-button-text {
    font-weight: 600;
}

.WorkoutItem-content-container {
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 7px;
    width: 100%;
    aspect-ratio: 4/2.13;
    // padding: 7px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.WorkoutItem-content-subcontainer {
    padding: 7px;
}

.WorkoutItem-content-desc-bullet {
    padding: 0 7px 0 0px;
    font-size: 0.8rem;
}

.WorkoutItem-content-desc-content {
    text-align: left;
    font-size: 0.8rem;
}

.WorkoutItem-img-container {
    // border: 2px solid red;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
}

.WorkoutItem-img-subcontainer {
    // border: 3px solid green;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    display: block;
    // justify-content: center;
    // align-items: center;
}

.WorkoutItem-img-display-holder {
    display: block;
    // border: 5px solid red;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WorkoutItem-img-item {
    max-height: 100%;
    max-width: 100%;
}

.WorkoutItem-img-arrow-left-container {
    position: absolute;
    z-index: 1;
    top: 40%;
    left: 0;
    cursor: pointer;
}

.WorkoutItem-img-arrow-right-container {
    position: absolute;
    z-index: 1;
    top: 40%;
    right: 0;
    cursor: pointer;
}

.WorkoutItem-video-container {
    // border: 2px solid red;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.WorkoutItem-type-container {
    // border: 2px solid red;
    height: 30px;
    display: flex;
    flex-direction: row;
}

.WorkoutItem-type-subcontainer {
    // border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WorkoutItem-type-circle {
    height: 15px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-left: 8px;
}

.WorkoutItem-type-title {
    // border: 2px solid rgb(251, 0, 0);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    font-weight: 600;
    margin-top: 3px;
}