.WorkoutSelectItem-container {
    border: 2px solid white;
    box-sizing: border-box;
    width: 340px;
    border-radius: 7px;
    padding: 7px;
    user-select: none;
    height: 60px;
}

.WorkoutSelectItem-title {
    font-size: .7rem;
}