.WorkoutItem-container {
    width: 100%;
}

.WorkoutItem-title-container {
    border: 5px solid  rgba(200, 200, 200, 0.47);
    height: 80px;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgba(255, 255, 255, 0.87);
    color: #242424;
}

.WorkoutItem-title {
    padding: 0;
    margin: 0;
}

.WorkoutItem-note-container {
    // border: 1px solid red;
    display: flex;
    justify-content: left;
    height: 50px;
}

.WorkoutItem-note-title {
    font-weight: bold;
    width: 50px;
}

.WorkoutItem-note-content {
    padding-left: 5px;
    justify-content: left;
    text-align: left;
}

.WorkoutItem-sets-container {
    // border: 1px solid red;
    display: flex;
    justify-content: left;
    height: 25px;
}

.WorkoutItem-sets-title {
    font-weight: bold;
    width: 50px;
}

.WorkoutItem-sets-content {
    padding-left: 5px;
    justify-content: left;
    text-align: left;
}

.WorkoutItem-reps-container {
    // border: 1px solid red;
    display: flex;
    justify-content: left;
    height: 25px;
}

.WorkoutItem-reps-title {
    font-weight: bold;
    width: 50px;
}

.WorkoutItem-reps-content {
    padding-left: 5px;
    justify-content: left;
    text-align: left;
}

.WorkoutItem-menu-container {
    // border: 2px solid red;
    margin: 5px 0 5px 0,
}

.WorkoutItem-menu-container {
    display: flex;
    justify-content: space-between;
}

.WorkoutItem-menu-button {
    border-radius: 7px;
    width: 97px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.WorkoutItem-menu-button-text {
    font-weight: 600;
}

.WorkoutItem-content-container {
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 7px;
    width: 100%;
    aspect-ratio: 4/2.5;
    padding: 10px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.WorkoutItem-content-desc-bullet {
    padding: 0 7px 0 0px;
    font-size: 0.8rem;

}

.WorkoutItem-content-desc-content {
    text-align: left;
    font-size: 0.8rem;
}

.WorkoutItem-type-container {
    // border: 2px solid red;
    height: 30px;
    display: flex;
    flex-direction: row;
}

.WorkoutItem-type-subcontainer {
    // border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WorkoutItem-type-circle {
    height: 15px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-left: 8px;
}

.WorkoutItem-type-title {
    // border: 2px solid rgb(251, 0, 0);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    font-weight: 600;
    margin-top: 3px;
}