.WorkoutSelectItem-container {
    border: 2px solid white;
    box-sizing: border-box;
    width: 340px;
    border-radius: 7px;
    padding: 5px;
    user-select: none;
    height: 60px;
}

.WorkoutSelectItem-title {
    border-bottom: 0.3px solid white;
    font-size: .7rem;
    font-weight: 600;
    margin-bottom: 3px;
    text-overflow: ellipsis;
    height: 20px;
    overflow: scroll;
    white-space: nowrap;
    scrollbar-color: rgba(255,255,255,0) rgba(255,255,255,0); // NEEDS FURTHER REFINEMENT AS I WAS NOT ABLE TO CHANGE THICKNESS OF SCROLLBAR IN FIREFOX THEREFORE THE DESIRED EFFECT OF CLICK AND DRAG MAY BE FINNICKY
}

.WorkoutSelectItem-details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.WorkoutSelectItem-details {
    // border: 2px solid red;
    box-sizing: border-box;
    height: 20px;
    font-size: .7rem;
    text-align: left;
}

.WorkoutSelectItem-sets {
    width: 60px;
}

.WorkoutSelectItem-reps {
    width: 230px;
}

.WorkoutSelectItem-button-container {
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 7px;
    height: 25px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #242424;
}

.WorkoutSelectItem-button {
    font-size: 1rem;
}

.WorkoutSelectItem-button-placeholder {
    height: 25px;
    aspect-ratio: 1/1;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2e492f;
}

.WorkoutSelectItem-button-placeholder-text {
    font-size: .7rem;
    box-sizing: border-box;
    line-height: .7rem;

}