.NavBar-Container {
    // border: 2px solid var(--primary-color);
    width: 100%;
    height: 3.5rem;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.NavBar-home-button-container {
    border: 2px solid var(--primary-color);
    height: 2rem;
    width: 2rem;
    border-radius: 10px;
    position: absolute;
    left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.NavBar-home-button-container:active {
    border: 2px solid #a0a0a0;
}

.HomeImg {
    height: 1.5rem;
    width: 1.5rem;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
}

.HomeImg:active {
    filter: invert(75%) sepia(0%) saturate(24%) hue-rotate(184deg) brightness(86%) contrast(91%);
}


.NavBar-Title {
    // border: 2px solid red;
    text-align: center;
    font-size: 1.5rem;
}
