.NavItem-container {
    border: 2px solid var(--primary-color);
    box-sizing: border-box;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
}

.NavItem-container:active {
    border: 2px solid #a0a0a0;
    color: #a0a0a0;
}

.NavItem-container:hover {
    background-color: #b0b0b059;
}

.NavItem-title {
    padding: 10px;
}